---
import Form from "../components/Form";
import Layout from "../layouts/Layout.astro";

import Check from "../assets/check.svg";
import Trash from "../assets/trash.svg";
---

<Layout>
  <div class="bg-white rounded-2xl shadow-xl">
    <Form client:load />
  </div>
</Layout>
