---
import { getImage } from "astro:assets";
import bgImage from "../assets/background.png";

const optimizedBackground = await getImage({
  src: bgImage,
  format: "avif",
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>AOJ Day 23</title>
  </head>
  <body style={`background-image: url(${optimizedBackground.src});`}>
    <main class="min-h-screen grid place-items-center place-content-center">
      <slot />
    </main>
  </body>
</html>
